<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPSDOTimeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GPSDOTimeSync.Properties.Settings>
            <setting name="minimumUpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="maximumCorrectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximumCorrection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maximumCorrectionUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="serialPortName" serializeAs="String">
                <value />
            </setting>
        </GPSDOTimeSync.Properties.Settings>
    </userSettings>
</configuration>